header {

    font-family: Arial;
}

#menu_banner {

	height : 48px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#menu_banner_logo {

	width: 50%;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

#menu_banner_logo label {

	width: 15%;
	height : 40px;

	background-color: rgb(116,211,106);
	border-radius: 8px;

	color: white;
	font-size: 1em;
    line-height: 40px; 
    text-align: center; 
}

#menu_banner_button {

	width: 50%;

	margin-right: 1%;

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	column-gap: 4%;
}

#menu_banner_button a {

    font-size: 1em;
 	font-weight: normal;
	text-decoration: none;
	color: black;
}


#naviguation_banner {

	height : 40px;

	margin-top: 8px;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	background-color: rgb(245,245,245);
  	border-radius: 8px;
}

#naviguation_banner a {

    font-size: 1em;
 	font-weight: normal;
	text-decoration: none;
	color: rgb(97,174,243);
}


#naviguation_banner_button {

	width: 100%;

	margin-left: 1%;
	margin-right: 1%;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	column-gap: 1%;
}

section {

    font-family: Arial;
}

#money_sender {

	margin-top: 40px;
	margin-left: 30%;
	margin-right: 30%;
}

#money_sender_header {

	height : 48px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#money_sender_header h1 {

    font-size: 1.5em;
 	font-weight: normal;
}

#money_sender_header a {

	width: 25%;
	height: 40px;

	color: white;
    font-size: 1em;
	font-weight: bold;
    line-height: 40px; 
	text-align: center;
	text-decoration: none;
	background-color: rgb(97,174,243);
	border-radius: 8px;	
}

#money_sender_body {

	height : 120px;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	background-color: rgb(245,245,245);
	border-radius: 8px;
}

#money_sender_body select {

	width: 20%;
	height: 40px;

	border-radius: 8px;
	text-align-last:center;
    font-size: 1em;
}

#money_sender_body input {

	width: 20%;
	height: 40px;

	border-radius: 8px;
	text-align: center;
    font-size: 1em;
}

#money_sender_body a {

	width: 20%;
	height: 40px;

	color: white;
    font-size: 1em;
	font-weight: bold;
    line-height: 40px; 
	text-align: center;
	text-decoration: none;
	background-color: rgb(116,211,106);
	border-radius: 8px;
}

#transaction_table {

	margin-top: 16px;
	margin-left: 30%;
	margin-right: 30%;
}

#transaction_table_header {

	height : 48px;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

#transaction_table_header h1 {

    font-size: 1.5em;
 	font-weight: normal;
}

#transaction_table_body {

	height : 400px;

	background-color: rgb(245,245,245);
}

#transaction_table_body table {

	width : 100%;
	height : 100%;

	border: 1px solid black;
   	border-color: rgb(200,200,200);
  	border-collapse: collapse;
}

#transaction_table_body th {

  	color: white;
    font-size: 1.2em;
    text-align: center; 
 	font-weight: normal;
 	background-color: rgb(116,211,106);
}

#transaction_table_body tr {

    font-size: 1em;
    text-align: center; 
}

#transaction_table_body tr:nth-child(odd){

  	background-color: white;
}

#transaction_table_footer {

	margin-top: 16px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	column-gap: 1%;
}

#transaction_table_footer a {

	width: 48px;
	height: 48px;

   	border: 1px solid black;
   	border-color: rgb(200,200,200);

    font-size: 1.2em;
    line-height: 48px; 
    text-align: center; 
	text-decoration: none;
	color: black;
}

footer {

    font-family: Arial;
}