header {

    font-family: Arial;
}

#header_div {

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#logo_div {

	width: 50%;
	height : 48px;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

#logo_div label {

	width: 15%;
	height : 40px;

	background-color: rgb(116,211,106);
	border-radius: 8px;

	color: white;
	font-size: 1em;
    line-height: 40px; 
    text-align: center; 
}

#button_div {

	width: 50%;

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.menu_button {
	
	width: 10%;
	height : 40px;

    font-size: 1em;
    line-height: 40px; 
 	font-weight: normal;
	text-decoration: none;
	color: black;
}

#naviguation_div {

	margin-top: 8px;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	background-color: rgb(245,245,245);
  	border-radius: 8px;
}

#path_div {

	width: 100%;
	height : 48px;

	margin-left: 1%;
	margin-right: 1%;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1%;
}

.path_button {
	
	height : 40px;

    font-size: 1em;
    line-height: 40px;
 	font-weight: normal;
	text-decoration: none;
	color: rgb(97,174,243);
}

.path_label {
	
	height : 40px;

    font-size: 1em;
    line-height: 40px;
 	font-weight: normal;
}

section {

    font-family: Arial;
}

#bank_account_adding_div {

	margin-top: 40px;
	margin-left: 30%;
	margin-right: 30%;
}

#bank_account_adding_title_div {

	height : 48px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.bank_account_adding_title {

	height : 40px;

    font-size: 1.5em;
    line-height: 40px;
 	font-weight: normal;
}

#bank_account_adding_background_div {

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	background-color: rgb(245,245,245);
	border-radius: 8px;
}

#adding_message_div {

	margin-top: 16px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.adding_message_label {

	width: 100%;
	height: 20px;

	color: red;
    line-height: 20px; 
   	text-align: center;
    font-size: 1em;
}

#bank_account_adding_form {
	
	width: 90%;
	
	margin-top: 16px;
	margin-bottom: 16px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#bank_account_adding_field_div {
	
	width: 100%;
	height: 40px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.adding_input {

	width: 20%;
	height : 20px;

	font-size: 1em;
    line-height: 20px; 
    text-align: center; 
}

.adding_button {

	width: 20%;
	height: 40px;

	color: white;
    font-size: 1em;
	font-weight: bold;
    line-height: 40px; 
	text-align: center;
	text-decoration: none;
	background-color: rgb(116,211,106);
	border-radius: 8px;
	border: none;
}

#bank_account_removing_div {

	margin-top: 16px;
	margin-left: 30%;
	margin-right: 30%;
}

#bank_account_removing_title_div {

	height : 48px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.bank_account_removing_title {

	height : 40px;

    font-size: 1.5em;
    line-height: 40px;
 	font-weight: normal;
}

#bank_account_removing_background_div {

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	background-color: rgb(245,245,245);
	border-radius: 8px;
}

#removing_message_div {

	margin-top: 16px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.removing_message_label {

	width: 100%;
	height: 20px;

	color: red;
    line-height: 20px; 
   	text-align: center;
    font-size: 1em;
}

#bank_account_removing_form {
	
	width: 90%;
	
	margin-top: 16px;
	margin-bottom: 16px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#bank_account_removing_field_div {
	
	width: 100%;
	height: 40px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}

.removing_select {

	font-size: 1em;
}

.removing_button {

	width: 20%;
	height: 40px;

	color: white;
    font-size: 1em;
	font-weight: bold;
    line-height: 40px; 
	text-align: center;
	text-decoration: none;
	background-color: rgb(116,211,106);
	border-radius: 8px;
	border: none;
}

#bank_account_list_div {

	margin-top: 40px;
	margin-left: 30%;
	margin-right: 30%;
}

#bank_account_list_title_div {

	height : 48px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.bank_account_list_title {

	height : 40px;

    font-size: 1.5em;
    line-height: 40px;
 	font-weight: normal;
}

.bank_account_list_title_button {

	width: 25%;
	height: 40px;

	color: white;
    font-size: 1em;
	font-weight: bold;
    line-height: 40px; 
	text-align: center;
	text-decoration: none;
	background-color: rgb(97,174,243);
	border-radius: 8px;	
}

#bank_account_list_background_div {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#bank_account_list_table {

	width : 100%;

	border: 1px solid black;
   	border-color: rgb(200,200,200);
  	border-collapse: collapse;
}

#bank_account_list_table th {
	
	height: 40px;

  	color: white;
    font-size: 1.2em;
    text-align: center; 
 	font-weight: normal;
 	background-color: rgb(116,211,106);
}

#bank_account_list_table tr {

	line-height: 40px;
    font-size: 1em;
    text-align: center; 
}

#bank_account_list_table tr:nth-child(even){

  	background-color: rgb(245,245,245);
}

footer {

    font-family: Arial;
}