header {

    font-family: Arial;
}

#banner_logo {

	margin-top: 40px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

section {

    font-family: Arial;
}

#form_body {

	height: 300px;

	margin-top: 40px;
	margin-left: 40%;
	margin-right: 40%;
	
   	border: 1px solid black;
   	border-color: rgb(200,200,200);
	border-radius: 8px;
}

#form_body_field_identifier {

	margin-top: 16px;
	margin-left: 5%;
	margin-right: 5%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#form_body_field_identifier input {

	width: 97%;
	height: 40px;

	margin-top: 8px;

   	border: 1px solid black;
   	border-color: rgb(204,208,213);
	background-color: rgb(245,246,247);
	border-radius: 8px;
   	text-align: center;
    font-size: 1em;
}

#form_body_field_identifier input::placeholder {

   	color: rgb(141,148,181);
}

#form_body_button {

	margin-top: 8px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#form_body_button_login {

	margin-top: 8px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#form_body_button_login a {

	width: 90%;
	height: 40px;

	color: white;
    font-size: 1em;
    line-height: 40px; 
	font-weight: bold;
    text-align: center; 
	text-decoration: none;
	background-color: rgb(97,174,243);
	border-radius: 8px;
}

#form_body_checkbox {

	margin-top: 16px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#form_body_separation {

	width: 90%;
    height: 1px;

	margin-top: 16px;
	margin-left: 5%;
	margin-right: 5%;

    border-top: 1px solid black;
   	border-color: rgb(200,200,200);
}

#form_body_button_register {

	margin-top: 16px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#form_body_button_register a {

	width: 50%;
	height: 40px;

	color: white;
    font-size: 1em;
	font-weight: bold;
    line-height: 40px; 
    text-align: center; 
	text-decoration: none;
	background-color: rgb(116,211,106);
	border-radius: 8px;
}

footer {

    font-family: Arial;

}