<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/bank_account_list.css" />
        <title>Pay My Buddy - bank account list</title>

    </head>

    <body>

    	<div id="bloc_page">

	    	<header>

	    		<div id="menu_banner">

	    			<div id="menu_banner_logo">

	  					<label for="pay_my_buddy">Pay My Buddy</label><br>

		    		</div>

	    			<div id="menu_banner_button">

		   					<a href="home">Home</a>
		   					<a href="bank">Bank</a>
		   					<a href="contact">Contact</a>
		   					<a href="profile">Profile</a>
		   					<a href="login">Log off</a>

		    		</div>

		    	</div>

	    		<div id="naviguation_banner">

	    			<div id="naviguation_banner_button">

	   					<a href="home">Home /</a>
	  					<label for="bank_account">Bank /</label><br>

	    			</div>

	    		</div>

	    	</header>

	    	<section>

	    		<div id="bank_account_adder">

		    		<div id="bank_account_adder_header">

	    				<h1>Add Bank Account</h1>
						<a href="bank-transfer">Send Money</a>

		    		</div>

		    		<div id="bank_account_adder_body">

						<input type="text" id="account_name" name="account_name" placeholder="Account name">
						<input type="text" id="account_number" name="account_number" placeholder="Account number">
						<input type="text" id="swift_code" name="swift_code" placeholder="Swift code">
						<a href="#">Add</a>

		    		</div>

	    		</div>

	    		<div id="bank_account_table">

		    		<div id="bank_account_table_header">

		    			<h1>My bank accounts</h1>

		    		</div>

		    		<div id="bank_account_table_body">

						<table>

							<tr>
								<th>Name</th>
								<th>Account number</th>
								<th>Swift code</th>
							</tr>

							<tr>
								<td>Account 1</td>
								<td>AN123</td>
								<td>SC321</td>
							</tr>

							<tr>
								<td>Account 2</td>
								<td>AN456</td>
								<td>SC654</td>
							</tr>

							<tr>
								<td>Account 3</td>
								<td>AN789</td>
								<td>SC987</td>
							</tr>

						</table>

		    		</div>

	    		</div>

	    	</section>

			<footer>

			</footer>

    	</div>

    </body>

</html>