<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/contact_list.css" />
        <title>Pay My Buddy - contact list</title>

    </head>

    <body>

    	<div id="bloc_page">

	    	<header>

	    		<div id="menu_banner">

	    			<div id="menu_banner_logo">

	  					<label for="pay_my_buddy">Pay My Buddy</label><br>

		    		</div>

	    			<div id="menu_banner_button">

		   					<a href="home">Home</a>
		   					<a href="bank">Bank</a>
		   					<a href="contact">Contact</a>
		   					<a href="profile">Profile</a>
		   					<a href="index">Log off</a>

		    		</div>

		    	</div>

	    		<div id="naviguation_banner">

	    			<div id="naviguation_banner_button">

	   					<a href="home">Home /</a>
	  					<label for="contact">Contact /</label><br>

	    			</div>

	    		</div>

	    	</header>

	    	<section>

	    		<div id="contact_adder">

		    		<div id="contact_adder_header">

	    				<h1>Add Contact</h1>
						<a href="contact-transfer">Send Money</a>

		    		</div>

		    		<div id="contact_adder_body">

						<input type="text" id="email_address" name="email_address" placeholder="Email address">
						<a href="#">Add</a>

		    		</div>

	    		</div>

	    		<div id="contact_table">

		    		<div id="contact_table_header">

		    			<h1>My contacts</h1>

		    		</div>

		    		<div id="contact_table_body">

						<table>

							<tr>
								<th>Email Address</th>
								<th>Name</th>
							</tr>

							<tr>
								<td>Hayley.A@email</td>
								<td>Hayley . A</td>
							</tr>

							<tr>
								<td>Clara.B@email</td>
								<td>Clara . B</td>
							</tr>

							<tr>
								<td>Smith.C@email</td>
								<td>Smith . C</td>
							</tr>

						</table>

		    		</div>

	    		</div>

	    	</section>

			<footer>

			</footer>

    	</div>

    </body>

</html>