<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/home.css" />
        <title>Pay My Buddy - home</title>

    </head>

    <body>

    	<header>

    		<div id="header_div">

    			<div id="logo_div">

  					<label for="pay_my_buddy">Pay My Buddy</label><br>

	    		</div>

    			<div id="button_div">

	   					<a class="menu_button" href="/home">Home</a>
	   					<a class="menu_button" href="/bank">Bank</a>
	   					<a class="menu_button" href="/contact">Contact</a>
	   					<a class="menu_button" href="/profile">Profile</a>
	   					<a class="menu_button" href="/login">Log off</a>

	    		</div>

	    	</div>

    		<div id="naviguation_div">

    			<div id="path_div">

  					<label class="path_label" for="home">Home /</label><br>

    			</div>

    		</div>

    	</header>

    	<section>

    		<div id="section_div">

	    		<div id="balance_div">
	
		    		<div id="balance_title_div">
	
	    				<h1 class="balance_title">My balance</h1>
	
		    		</div>
	
		    		<div id="balance_background_div">
	
			    		<div id="balance_label_div">
		
		  					<label class="balance_label" th:text="${balance} + ' ' + €"></label>
		
			    		</div>
		
		    		</div>
	
	    		</div>
	
    		</div>

    	</section>

		<footer>

		</footer>

    </body>

</html>