<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/login.css" />
        <title>Pay My Buddy - login</title>

    </head>

    <body>

    	<header>

	    		<div id="logo_div">

  					<img src="images/logo.png" alt="Pay My Buddy logo">

	    		</div>

    	</header>

    	<section>
			
			<div id="main_div">
			
				<div id="login_div">
				
					<div id="login_message_div" th:if="${login_message != null}">
					
	  					<label th:text="${login_message}"></label>
					
					</div>
	
		    		<div id="login_form_div">
	
			    		<form method="post" th:action="@{/login}">
			    		
				    		<div id="login_form_identifier_div">
				    		
			  					<input type="text" name="username" placeholder="Email" required>
			  					<input type="password" name="password" placeholder="Password" required>
			  					
				    		</div>
	
				    		<div id="login_form_button_div">
				    		
		    					<button type="submit">Login</button>
		    					
				    		</div>
			    		
				    		<div id="login_form_checkbox_div">
				    		
			  					<input type="checkbox" name="remember" checked>
			  					<label for="Remember_me">Remember me</label>
			  					
					    	</div>
							
						</form>
		
		    		</div>
	
	    		</div>
	
	    		<div id="separation_div">
	
	    		</div>
	
	    		<div id="registration_div">
	    		
					<a href="/registration">Register</a>
	
	    		</div>

    		</div>

    	</section>

		<footer>

		</footer>

    </body>

</html>