<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/login.css" />
        <title>Pay My Buddy - index</title>

    </head>

    <body>

    	<header>

	    		<div id="image_div">

  					<img src="images/logo.png" alt="Pay My Buddy logo">

	    		</div>

    	</header>

    	<section>

			<div id="section_div">
			
				<div id="login_div">
				
					<div id="message_div" th:if="${login_message != null}">
					
	  					<label class="message_label" th:text="${login_message}"></label>
					
					</div>

		    		<form id="login_form" method="post" th:action="@{/account/login}">
		    		
	  					<input type="text" class="text_input" name="email_address" placeholder="Email">
	  					<input type="password" class="text_input" name="password" placeholder="Password">
	  					
	    				<button type="submit" class="login_submit_button">Login</button>
	
			    		<div id="checkbox_div">
			    		
		  					<input type="checkbox" class="checkbox_input" name="remember" checked>
		  					<label class="checkbox_label" for="Remember_me">Remember me</label>
		  					
				    	</div>
						
					</form>

	    		</div>

	    		<div id="separation_div">

	    		</div>

	    		<div id="registration_div">

		    		<form id="register_form" method="get" th:action="@{/registration}">
	  					
	    				<button type="submit" class="register_submit_button">Register</button>
						
					</form>

	    		</div>

	    	</div>

    	</section>

		<footer>

		</footer>

    </body>

</html>